.places-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px;
    margin-top: 40px;
    position: relative;
}

.places-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    margin-right: 20px;
    gap: 25px;
}

.selected-place-wrapper {
    background: salmon;
    padding: 15px;
    border-radius: 8px 0px 0px 8px;
    position: sticky;
    top: 0;
}

.place-name {
    position: sticky;
    top: 0;
}

.place-name li {
    list-style: none;
    text-align: start;
    background: #ddd;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.place-name li img {
    margin-left: 10px;
    width: 70px;
    border-radius: 100px;
}

@media screen and (max-width:768px) {
    .places-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .places-wrapper {
        display: grid;
        order: 2;
        grid-template-columns: repeat(1, 1fr);
    }
    .selected-place-wrapper{
        padding: 20px;
        order: 1;
        z-index: 1;
    }
}